.ant-menu-dark .ant-menu-inline.ant-menu-sub {
  background-color: #283655;
  color: #fff;
}
.ant-menu.ant-menu-dark,
.ant-menu-dark .ant-menu-sub,
.ant-menu.ant-menu-dark .ant-menu-sub {
  background-color: #283655;
  color: #fff;
}
.ant-btn,
.ant-btn-icon-only,
.ant-input-search-button {
  color: #fff;
  background: #283655;
  border-color: #283655;
}
.ant-dropdown-menu-item.ant-dropdown-menu-item-active.ant-dropdown-menu-item-only-child {
  background: #283655;
}
.ant-btn-primary {
  color: #fff;
  background: #283655;
  border-color: #283655;
}
.ant-menu-title-content {
  color: #fff;
}
.ant-menu-overflow-item.ant-menu-item.ant-menu-item-selected {
  background: #4d648d;
}

.ant-menu-overflow-item.ant-menu-item.ant-menu-item-active.ant-menu-item-only-child {
  background: #4d648d;
}
.ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: #4d648d;
}
.ant-btn.ant-btn-primary:hover {
  background: #283655;
  border-color: #283655;
}
.ant-checkbox-checked .ant-checkbox-inner {
  background-color: #4d648d;
  border-color: #4d648d;
}
.ant-card-meta-description {
  color: black;
}
.ant-btn.ant-btn-link:hover {
  background: #283655;
  border-color: #283655;
  color: white;
}
.ant-btn.ant-btn-icon-only.ant-input-search-button:hover {
  background: #283655;
  border-color: #283655;
  color: white;
}
.ant-btn.ant-btn-icon-only.ant-input-search-button {
  background: #283655;
  border-color: #283655;
  color: white;
}
.ant-dropdown-menu,
.ant-dropdown-menu-root,
.ant-dropdown-menu-vertical,
.ant-dropdown-menu-light,
.ant-dropdown-menu-title-content,
.ant-dropdown-menu-item,
.ant-dropdown-menu-item-only-child,
.ant-dropdown,
.ant-dropdown-placement-bottomLeft,
.ant-dropdown-hidden {
  color: #fff;
  background: #283655;
  border-color: #283655;
}
.ant-dropdown-menu-submenu.ant-dropdown-menu-submenu-vertical.ant-dropdown-menu-submenu-open.ant-dropdown-menu-submenu-active {
  color: #fff;
  background: #283655;
  border-color: #283655;
}
.ant-dropdown-menu-submenu-title {
  color: #fff;
  background: #283655;
  border-color: #283655;
}
.ant-dropdown.ant-dropdown-placement-bottomLeft.ant-dropdown-hidden {
  color: #fff;
  background: #283655;
  border-color: #283655;
}
.ant-dropdown-menu.ant-dropdown-menu-root.ant-dropdown-menu-vertical.ant-dropdown-menu-light {
  color: #fff;
  background: #283655;
  border-color: #283655;
}
.ant-dropdown-menu-item.ant-dropdown-menu-item-active {
  color: #fff;
  background: #283655;
  border-color: #283655;
}
.ant-card-actions {
  background: #283655;
  border-color: #283655;
}

span {
  font-weight: 600;
}
label {
  color: #fff;
  font-weight: 600;
}
svg {
  color: #fff;
}
.container--main {
  margin-top: 70px;
}

.ant-card-head-title {
  color: #fff;
}

.circle {
  width: 5em;
  height: 5em;

  border-radius: 50%;
  line-height: 5em;
  text-align: center;
  background: #d0e1f9;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle h5 {
  margin: 0%;
}

.ant-typography {
  color: rgb(248, 248, 248);
}

.buyoutPrice {
  margin-left: 10px;
}

a.ant-typography,
.ant-typography a {
  color: rgb(255, 255, 255);
}

.avatar-uploader > .ant-upload {
  width: 128px;
  height: 128px;
}
