.wrapper {
  height: 100vh;
  display: flex;
  align-items: start;
  justify-content: center;
}
.typing {
  width: 147ch;
  animation: typing 9s steps(40), blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 1em;
  color: rgb(74, 60, 91); /* Цвет текста */
  font-weight: 550;
}
.typing1{
  width: 50ch;
  animation: typing 6s steps(50), blink 1.5s  ;
  color: rgb(255, 0, 21); /* Цвет текста */
  font-size: 1.1em;

}
@keyframes typing {
  from {
    width: 0;
  }
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}
